

<div class="music-player" style="float:right">
    <h4 class="trackTitle">Current track</h4>
    <a href="#" id="play">Play</a>
    <a href="#" id="pause" style="display:none;">Pause</a>
    <a href="#" id="stop">Stop</a>
    <a href="#" id="next">Next</a>
</div>
<input id="playzz" type="submit">

<div class="playlist" style="display:none">
  <% @rep.each_with_index do |rep ,i| %>
  <div class=<%=i%>>
  <div class='playlistid'>id=<%=rep["playlist_id"]%></div>
  <div class="songurl"><%=rep["song_url"]%></div>
  <div class="trackid"><%=rep["track_id"]%></div>
  <div class="songlist"><%=rep["title"]%></div>
  <div class="artwork"><%=rep["artwork_url"]%></div>


  </div>
  <% end %>
</div>

  <% @rep.each_with_index do |rep ,i| %>
  <div class="nothere">
    <a href="/songs/<%= rep["id"] %>"><%= rep["title"] %></a>
  </div>
  <%end%>






    <div class="header-container debug">
            <header class="wrapper clearfix debug">
                <!-- <h1 class="title font1">Backseat DJ</h1> -->
                <img src="http://i.imgur.com/hsMeLzq.png" width="320">
            </header>
    </div>

    <div class="main-container back_img debug">
            <div class="main wrapper clearfix debug">

            </div>

            <div class="info">

            </div>
    </div>

    <div class="footer-container debug">
            <footer class="wrapper debug">

            </footer>
    </div>

<script src="/js/playlistshow.js"></script>
